body{
  background-color: rgb(6, 65, 6);
  font-family: arial;
}
.container{
  width: 100%;
  background-color: white;
  top: 60px;
  bottom: 60px;
  left: 0;
  position: absolute;
  box-shadow: 0px 0px 0.5px rgba(255,255,255,0.4);
}
.box1{
  width: 150px;
  top: 0px;
  height: 150px;
  background-color:rgb(4, 53, 4);
  border-bottom-right-radius: 650px;
  position: absolute;
}
.box2{
  width: 440px;
  bottom: 0px;
  right: 0px;
  height: 440px;
  background-color:rgb(4, 53, 4);
  border-top-left-radius: 650px;
  position: absolute;
}
.box{
  width: 100%;
  background-color: white;
  top: 40px;
  bottom: 40px;
  position: absolute;
  box-shadow: 0.3px 0.2px 0.7px rgba(0, 0, 0, 2.5);
}
.inbox{
  width: 400px;
  bottom: 0px;
  right: 0px;
  height: 400px;
  background-color: rgb(6, 65, 6);
  border-top-left-radius: 650px;
  position: absolute;
}
.header{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  height: 50px;
  margin-left: 15px;
}
.header img{
  height: 50px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
 
}
.buttons p{
  margin-right: 22px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 18px;
}
.home{
  border-radius: 16px;
  background-color: rgb(23, 101, 23);
  color: white;
  transition: all 0.15s;

}
.home:hover{
  border-radius: 16px;
  opacity: 0.7;
  border: 1px solid black;
}
.headbar{
  transition: all 0.15s;
}
.headbar:hover{
  border-radius: 16px;
  opacity: 0.7;
  border: 1px solid black;
}
.coffee img{
  height: 400px;
  position: relative;
  top: -30px;
  left: -10px;
}
.content{
  width: 540px;
  margin-top: 70px;
  margin-left: 15px;
}
p{
  margin: 0;
  font-weight: bolder;
  font-size: 60px;
}
.text{
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}
p span {
  color: rgb(6, 75, 6);
  font-weight: bolder;
  font-size: 68px;
}
.learn-button{
  border-radius: 16px;
  border: none;
  background-color: rgb(22, 83, 22);
  margin-top: 18px;
  padding: 6px 14px;
  color: white;
  transition: all 0.15s;
}
.learn-button:hover{
  opacity: 0.7;
}